
body
{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../image/1.JPG);
	background-repeat: no-repeat;
	background-size: 100% 1000px;

	/*height: 100vh;
	background-size: cover;
	background-position: center;*/


}
.simple-form
{
	text-align: center;
	margin:100px 400px;

}
#registration
{
	width: 100%;
	background-color: #051019;
	opacity: 0.8;
	padding: 50px 0px;
	

}
#button
{
	width:250px;
	padding: 10px;
	border-radius: 5px;
	outline: 0px;


}
#butt
{
	background-color: green;
	width:250px;
	padding: 10px;
	border-radius: 5px;
	outline: 0px;
}
.button
{
	width:250px;
	padding: 10px;
	border-radius: 5px;
	outline: 0px;
}
.spn{
	margin-top: 10px;
}	
#butt22
{
	background-color: green !important;
	width:350px;
	padding: 10px;
	border-radius: 5px;
	outline: 0px;
	}